{% extends "layout.html" %}
{% block body %}
<div class="container mt-5">
    <div class="card text-white bg-secondary">
        <div class="card-header">
            <h1>Interaction Request</h1>
        </div>
        <div class="card-body">
            <p>User {{ username }} wants to create an interaction <b> {{ interaction_type_str }} </b> with you.</p>
            <form method="POST">
                {{ form.hidden_tag() }} <!-- Includes CSRF token -->
                <div class="mb-3">
                    <button type="submit" class="btn btn-success">{{ form.submit.label }}</button>
                    <a href="{{ url_for('dashboard') }}" class="btn btn-danger">Reject</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}