{% extends "layout.html" %}
{% block body %}
<div class="container mt-5">
    <div class="card text-white bg-secondary">
        <div class="card-header">
            <h1 class="text-center">Login</h1>
        </div>
        <form method="POST" class="card-body">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control") }}
                {% for error in form.email.errors %}
                <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="mb-3">
                {{ form.password.label(class="form-label") }}
                {{ form.password(class="form-control") }}
                {% for error in form.password.errors %}
                <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="text-center">
                {{ form.submit(class="btn btn-primary w-100") }}
            </div>
            <div class="text-center mt-1">
                <a href="{{ url_for('google_login') }}" class="btn btn-light w-100 d-flex align-items-center justify-content-center" style="background: white">
                    <img src="https://developers.google.com/identity/images/g-logo.png" alt="Google Logo" width="24" height="24" class="me-2">
                    <span style="color: black">Sign in with Google</span>
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}