body {
    background-image: linear-gradient(90deg, #020024, #851d7b, #9c014c, #ab5b06 100%); 
}

.hero {
    color: #ffffff;
    text-align: center;
    padding: 100px 20px 0px;
}
.hero img {
    max-width: 300px;
    margin-bottom: 20px;
}
.cta-btn {
    background-color: #ffc107;
    color: #343a40;
    font-weight: bold;
    border: none;
    padding: 15px;
    font-size: 1.5rem;
}
.cta-btn:hover {
    background-color: #e0a800;
    color: #ffffff;
}

.node circle {
    fill: #f4ab35;
    /* stroke: rgb(237, 15, 229); */
    stroke-width: 1.5px;
}

.node text {
    font-size: 12px;
    font-family: sans-serif;
    fill: #f4ab35;
}

.link {
    stroke: white;
    stroke-opacity: 0.6;
}

.zoom-rect {
    fill: none;
    pointer-events: all;
}

#graph {
    background: rgba(5, 15, 60, 0.731);
    display: block;
    margin: auto;
    border-radius: 5px;
}

/* .navbar-primary {
    background: #093f94 !important;
} */

#avatar-preview {
    margin: auto;
    display: block;
    max-height: 200px;
}

.sex-types-toggler-button {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    color: rgba(255, 255, 255, 0.55);
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 0.5rem;
}

.sex-types-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
}